/* color palette from https://www.color-hex.com/color-palettes */
:root {
  --darkest-color: #f8f8fd;
  --lightest-color: #e5d0ba;
  --highlight-color: #ffffff;
  --bright-color-1: #eedcb6;
  --bright-color-2: #76b6c4;
  --bright-color-3: 	#dc8168;
  --bright-color-4: #8fb0b7;
}

body {
  background: var(--darkest-color);
  color: var(--lightest-color);
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.circle-shape {
  width: 140px;
  height: 140px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  border: 3px solid var(--lightest-color);
  margin: 0 auto;
}

.profile-pic {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

a {
  color: var(--lightest-color);
  text-decoration: none;
}

.ig-link {
  margin: 10px 0;
  font-weight: bold;
}

.link-list-item {
  border: 1px solid var(--lightest-color);
  box-sizing: border-box;
  margin: 20px auto;
  color: var(--darkest-color);
  padding: 15px;
  text-align: center;
  transition: all 0.15s;
  border-radius: 2px;
}

.link-list-item-img {
  width: 100%;
  margin: 0;
  padding: 0;
}

.highlighted,
.link-list-item:hover,
a:hover {
  /* color: var(--highlight-color); */
  border-color: var(--highlight-color);
  text-shadow: 0 0 2em var(--highlight-color);
}

.icon-list-img {
  height: 50px;
  width: 50px;
  margin: 3px;
}

.dark {
  background: var(--bright-color-1);
}

.medium {
  background: var(--bright-color-2);
}

.light {
  background: var(--bright-color-3);
}

.bright {
  background: var(--bright-color-4);
}



h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 4vmin;
  line-height: 5vmin;
}

.gradient-text {
  color: transparent;
  background: conic-gradient(
    #D9D7F1 12%, 
    #BAABDA 12%, #BAABDA 33%, 
    #E7FBBE 33%, #E7FBBE 55%, 
    #FFCBCB 55%, #FFCBCB 70%, 
    #B5DEFF 70%, #B5DEFF 87%, 
    #F7D1BA 87%);
  background-size: 20%;
  background-clip: text;  
  -webkit-background-clip: text;
  animation: expand-rev 0.5s ease forwards;
  cursor: pointer;
}

.gradient-text:hover {
  animation: expand 0.5s ease forwards;
}

@keyframes expand {
  0% {
    background-size: 50%;
    background-position: 0 0;
  }
  20% {
    background-size: 55%;
    background-position: 0 1em;
  }
  100% {
    background-size: 32%;
    background-position: -10em -4em;
  }
}

@keyframes expand-rev {
  0% {
    background-size: 32%;
    background-position: -10em -4em;
  }
  20% {
    background-size: 45%;
    background-position: 0 1em;
  }
  100% {
    background-size: 50%;
    background-position: 0 0;
  }
}